.home{
  color: #222;
}

.home_slide {
  position: relative;
  width: 90%;
  height: 0;
  padding-bottom: 40%; }

.home_slideWrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.home_movie{
  padding: 5px;
  background: #ccc;
}