.movie-item{
    display: flex;
    padding: 10px;
    background: #fff;
    margin-bottom: 5px;
    margin-top: 10px;
    border-radius: 10px;
  
    // 海报
    &-cover{
      width: 65px;
      height: 95px;
      border-radius: 5px;
      margin-right: 11px;
  
      img{
        width: 100%;
        height: 100%;
      }
    }
    // 基本信息
    &-info{
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  
    &-name{
      color: #000;
      font-size: 16px;
      font-weight: bold;
    }
  
    &-want{
      font-size: 10px;
      color: #333;
  
      span{
        font-size: 14px;
        color: #ffa54b;
        font-weight: bold;
      }
    }
    
    &-date,
    &-actor{
      font-size: 12px;
      color: #777;
    }
    
  }