
//
$dark: #000;
$gary: #f5f5f5;
$while: #fff;

@mixin flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-v-center{
  display: flex;
  align-items: center;
}