@font-face {
  font-family: "iconfont"; /* Project id 2821200 */
  src: url('//at.alicdn.com/t/font_2821200_3ygodef7xp6.woff2?t=1633592435980') format('woff2'),
       url('//at.alicdn.com/t/font_2821200_3ygodef7xp6.woff?t=1633592435980') format('woff'),
       url('//at.alicdn.com/t/font_2821200_3ygodef7xp6.ttf?t=1633592435980') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e69a";
}

.icon-fanhui:before {
  content: "\e600";
}

.icon-shoucang1:before {
  content: "\e8da";
}

.icon-lipinka:before {
  content: "\e8d9";
}

.icon-xiaomi:before {
  content: "\e8db";
}

.icon-youhuiquan:before {
  content: "\e8dc";
}

.icon-xiaoshi1:before {
  content: "\e8d8";
}

.icon-shezhi:before {
  content: "\e8d6";
}

.icon-xiaoxizhongxin:before {
  content: "\e8d7";
}

.icon-wode1:before {
  content: "\e8d2";
}

.icon-shouye1:before {
  content: "\e8d3";
}

.icon-yanchu1:before {
  content: "\e8d4";
}

.icon-dianying1:before {
  content: "\e8d5";
}

.icon-aixin:before {
  content: "\e8ab";
}

.icon-bianji:before {
  content: "\e8ac";
}

.icon-bangzhu:before {
  content: "\e8ad";
}

.icon-buganxingqu:before {
  content: "\e8ae";
}

.icon-bofangjilu:before {
  content: "\e8af";
}

.icon-chenggong:before {
  content: "\e8b0";
}

.icon-dianzan:before {
  content: "\e8b1";
}

.icon-dingwei:before {
  content: "\e8b2";
}

.icon-dianying:before {
  content: "\e8b3";
}

.icon-ditu:before {
  content: "\e8b4";
}

.icon-dianyingpiao:before {
  content: "\e8b5";
}

.icon-dingdan:before {
  content: "\e8b6";
}

.icon-gengduo:before {
  content: "\e8b7";
}

.icon-faxian:before {
  content: "\e8b8";
}

.icon-ertongpiao:before {
  content: "\e8b9";
}

.icon-fenxiang:before {
  content: "\e8ba";
}

.icon-huatifuhao:before {
  content: "\e8bb";
}

.icon-huiyuan:before {
  content: "\e8bc";
}

.icon-maiyizengyi:before {
  content: "\e8bd";
}

.icon-saoyisao:before {
  content: "\e8be";
}

.icon-pinglun:before {
  content: "\e8bf";
}

.icon-riqian:before {
  content: "\e8c0";
}

.icon-shanchu:before {
  content: "\e8c1";
}

.icon-shengyinguanbi:before {
  content: "\e8c2";
}

.icon-shengyin:before {
  content: "\e8c3";
}

.icon-shoucang:before {
  content: "\e8c4";
}

.icon-shouye:before {
  content: "\e8c5";
}

.icon-shuaxin:before {
  content: "\e8c6";
}

.icon-sousuo:before {
  content: "\e8c7";
}

.icon-tishi:before {
  content: "\e8c8";
}

.icon-wode:before {
  content: "\e8c9";
}

.icon-xiaoxi:before {
  content: "\e8ca";
}

.icon-xiaoshi:before {
  content: "\e8cb";
}

.icon-yingchengka:before {
  content: "\e8cc";
}

.icon-yanchu:before {
  content: "\e8cd";
}

.icon-yingyuan:before {
  content: "\e8ce";
}

.icon-aixin1:before {
  content: "\e8cf";
}

.icon-dianzan1:before {
  content: "\e8d0";
}

.icon-remen:before {
  content: "\e8d1";
}
